{% extends 'pharmacist/base_generic.html' %}
{% block content %}

    <h1>Add New Medicine </h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form actions="" method="POST">
                    <div class="form-group">
                    {% csrf_token %}
                    {{form}}
                        <input type="submit" name="Submit">
                    </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    {% include "pharmacist/inventory2.html"%}
                </div>

            </div>

        </div>


{%endblock%}
